body {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
}

.contenido {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tarjeta {
  width: calc(90% - 20px); /* El 20px es para el margen entre las tarjetas */
  margin-bottom: 20px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  min-height: 400px; /* Establece una altura mínima para todas las tarjetas */
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Alinea el contenido verticalmente */
  position: relative; /* Agrega posición relativa para posicionar la descripción */
}

.tarjeta img {
  width: 100%; /* La imagen se ajusta al 100% del ancho de su contenedor */
  max-height: 100%; /* Ajusta la altura máxima al 100% del alto de la tarjeta */
}

.descripcion {
  position: absolute; /* Agrega posición absoluta para la descripción */
  bottom: 0px; /* La posición inferior de la descripción estará pegada al footer */
  left: 0;
  right: 0;
  margin: 10px 10px 40px 10px; /* Márgenes para separar la descripción del borde de la tarjeta */
  font-size: 14px;
  text-align: center;
}

.footer {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 0; /* Reiniciar el margen superior */
}