<!-- <body>
  <div class="contenido">
    <div class="tarjeta" *ngFor="let item of productos">
      <img src="{{item.archivo_1}}" alt="Imagen 1">
      <div class="descripcion">{{item.descripcion}}</div>
      <div class="footer">${{item.precio}}</div>
    </div>
  </div>
</body> -->

<body>
  <div class="contenido">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 " *ngFor="let item of productos">
      <div class="tarjeta">
      <img src="{{item.archivo_1}}" alt="Imagen 1">
      <div class="descripcion">{{item.descripcion}}</div>
      <div class="footer">${{item.precio}}</div>
    </div>
    </div>
  </div>
</body>