<body>
  <header class="encabezado">
    <div class="contenido">
      <nav class="enlaces-derecha">
        <a *ngIf="!loggedIn" routerLinkActive="active"  routerLink="/login">Iniciar sesión</a>
        <a *ngIf="loggedIn" (click)='logout()' routerLinkActive="active" routerLink="/inicio">Cerrar sesión</a>
        <a *ngIf="!loggedIn" routerLinkActive="active"  routerLink="/register">Crear cuenta</a>
      </nav>
    </div>
  </header>
  <nav class="menu-navegacion">
    <a href="#">Inicio</a>
    <a href="#">Productos</a>
    <a href="#">Contacto</a>
    <a *ngIf="roleAdmin" routerLinkActive="active" routerLink="/admin/home">Admin</a>
  </nav>
</body>