<div class="login-page">
   <div class="form">
      <form #loginForm="ngForm" class="login-form">
         <input type="text"     [(ngModel)]="user.email" name="email" required minlength="4" #email="ngModel" class="form-control" placeholder="email address"/>
         <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors?.required">
                El email es requerido
            </div>
            <div *ngIf="email.errors?.minlength">
                El email debe tener como minimo <strong>4 caracteres</strong>
            </div>
        </div>
         <input type="password" [(ngModel)]="user.password" name="password" required minlength="8" #password="ngModel" class="form-control" placeholder="password"/>
         <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password.errors?.required">
                El password es requerido
            </div>
            <div *ngIf="password.errors?.minlength">
                El password debe tener como minimo <strong>8 caracteres</strong>
            </div>
        </div>
         <button (click)='login()' type="submit">Login</button>
         <button type="submit" routerLink="/inicio">Cancelar</button>
         <p class="message" routerLinkActive="active">Not registered? <a routerLink="/register">Create an account</a></p>
      </form>
   </div>
 </div>
