<div class="container-fluid">
   <!-- Navigation -->
   <div class="container">
      <nav class="navbar navbar-expand-lg navbar-custom static-top">
         <div class="container">
            <a class="navbar-brand" href="#">
               Dulce Sofia 
               <img src="../../assets/images/imagen1.jpg" width="30" height="30" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav ms-auto" id="navbarCustom">
               
               <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/inicio">Inicio</a></li>
               <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/admin/publicacion">Publicacion</a></li>
               <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/admin/home-productos">Productos</a></li>
               <li class="nav-item" routerLinkActive="active"><a class="nav-link" >Categorias</a></li>
               </ul>
            </div>
         </div>
      </nav>
   </div>
   <div class="container">
      <hr size="8px" color="black" />
   </div>
   <app-contenido></app-contenido>
</div>
