<div class="login-page">
   <div class="form">
      <div class="register-form">
         <input type="text"      [(ngModel)]="name" class="form-control" placeholder="name"  required/>
         <input type="text"       [(ngModel)]="email" class="form-control" placeholder="email address" required/>
         <input type="password"  [(ngModel)]="password" class="form-control" placeholder="password" required/>
         <button (click)="registrarUsuario()" type="submit">create</button>
         <p class="message">Already registered? <a href="login">Sign In</a></p>
      </div>
   </div>
</div>